<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    {% if site.description %}
    <h2 class="site-description">{{ site.description }}</h2>
    {% endif %}
  </div>
  <nav class="site-nav">
    <ul class="trigger">
      <li class="{% if page.url == '/index.html' %}link-active{% endif %}"><a class="page-link" href="{{ site.baseurl | prepend:site.url }}/">Home</a></li>
      {% if site.data.projects and site.data.projects | size > 0 %}
      <li class="has-submenu">
        <a class="page-link hover-link" href="#projects">Projects &gt;</a>
        <ul class="submenu">
        {% for project in site.data.projects %}
          <li><a class="page-link" href="{{ project.url }}">{{ project.name }}</a></li>
        {% endfor %}
          <li><a href="/resume/" class="page-link">My Resume´</a></li>
        </ul>
      </li>
      {%  endif %}
    </ul>
  </nav>
</header>
